<div class="container mt-4">
  <h1 class="mb-4">{{ mainTitle }}</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'metricToImperial'" (click)="selectTab('metricToImperial')">Metric to Imperial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'imperialToMetric'" (click)="selectTab('imperialToMetric')">Imperial to Metric</a>
    </li>
  </ul>

  <div class="mt-4">
    <h2>{{ getConversionFormHeading() }}</h2>
    <div id="metricToImperial" class="tab-pane" [ngClass]="{'d-block': selectedTab === 'metricToImperial', 'd-none': selectedTab !== 'metricToImperial'}">
      <app-metric-to-imperial-form [conversionModel]="conversionModel"></app-metric-to-imperial-form>
    </div>
    <div id="imperialToMetric" class="tab-pane" [ngClass]="{'d-block': selectedTab === 'imperialToMetric', 'd-none': selectedTab !== 'imperialToMetric'}">
      <app-imperial-to-metric-form [conversionModel]="conversionModel"></app-imperial-to-metric-form>
    </div>
  </div>
</div>
